body {
    margin: 0;
}


.top {
    background-color: #1f2937;
    padding: 20px 140px;
}

.logo, .hero {
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 80px;
}

.l-one {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.r-one {
  font-size: 24px;
}

a {
    text-decoration: none;
}

.top-middle {
    display: flex;
    gap: 80px;
    margin-bottom: 90px;
}

.r-two {
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: flex-start;
    align-items: flex-start;
}

.hero {
    margin-top: 0;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 25px;
}

p {
    margin: 0;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 5px 20px;
    border: 0;
    border-radius: 5px;
}

.l-two {
    display: flex;
}

img {
    display: flex;
    flex-shrink: 1;
   height: 285px;
}